{% extends "base.html" %}
{% block content %}
<div class="container mb-5">
  <h3 class="type-display-medium text-center break-long mt-3 mb-3">
    Our Trending Packs, TOP Offers
  </h3>
<div class="row">
  <div class="col-lg-4">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://img.staticmb.com/mbcontent//images/uploads/2022/5/best-farmhouse-design-ideas.jpg" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Panoramic view</h5>
          <p class="card-text">The absolutely breathtaking scenery is the real highlight of philipines! The unique mixture of Mountains, trees, forestall makes it a real treat, and one that visitors will remember for a long time. What are you waiting for reserve your place.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

  <div class="col-lg-4">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://img.staticmb.com/mbcontent//images/uploads/2023/3/10-modern-duplex-house-designs.jpg" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mountain Everest</h5>
          <p class="card-text">You love hiking up iconic mountains,so hiking to Everest Base Camp has been on your “bucket list” for years. It’s time to pull the trigger and experience it for yourself,This Is Your Time To Shine! Join Us. Full Tour Lodging and Arrangements are done.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

  <div class="col-lg-4">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://img.staticmb.com/mbcontent/images/uploads/2022/5/Interiors%20of%20a%20luxurious%20and%20modern%20farmhouse%20design.jpg" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beach time</h5>
          <p class="card-text"> Anse Source d’Argent. The mixture of shallow, clear water, golden sand, and imposing granite formations make it one of the most picturesque beaches anywhere in the world, and one that’s well worth visiting for anyone taking a holiday to the Seychelles.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

  <div class="col-lg-4 mt-3">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://hips.hearstapps.com/hmg-prod/images/edc100121netto-007-1631284508.jpg?crop=1xw:1xh;center,top&resize=980:*" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Heaven of Maldives</h5>
          <p class="card-text"> Anse Source d’Argent. The mixture of shallow, clear water, golden sand, and imposing granite formations make it one of the most picturesque beaches anywhere in the world, and one that’s well worth visiting for anyone taking a holiday to the Seychelles.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

  <div class="col-lg-4 mt-3">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://hips.hearstapps.com/hmg-prod/images/edc080122nahem-makoid-009new-1652459060.jpg?crop=1xw:1xh;center,top&resize=980:*" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beach time</h5>
          <p class="card-text"> Anse Source d’Argent. The mixture of shallow, clear water, golden sand, and imposing granite formations make it one of the most picturesque beaches anywhere in the world, and one that’s well worth visiting for anyone taking a holiday to the Seychelles.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

  <div class="col-lg-4 mt-3">
    <div class="card shadow" style="width: 20rem;">
        <img src="https://hips.hearstapps.com/hmg-prod/images/edc120120sternlicht-010-1604514113.jpg?crop=1xw:1xh;center,top&resize=980:*" height="200px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Beach time</h5>
          <p class="card-text"> Anse Source d’Argent. The mixture of shallow, clear water, golden sand, and imposing granite formations make it one of the most picturesque beaches anywhere in the world, and one that’s well worth visiting for anyone taking a holiday to the Seychelles.</p>
          <a href="#" class="btn btn-primary">View More</a>
          <a href="#" class="btn btn-warning">Reserve now</a>
        </div>
      </div>
  </div> 

</div>
</div>
{% endblock %}